<div class = "container">
<h2>
<%= @post.title %>
</h2>

<p><%= @post.body %> </p>
<p><%= @post.user.email%></p>
<% if policy(@post).destroy?%>
    <%= link_to 'Delete Post' , post_path(@post) , method: :delete , :class => "btn btn-danger" %>
<%end%>
<% if policy(@post).update?%>
    <%= link_to 'Edit Post' , edit_post_path(@post), :class => "btn btn-success" %>
<%end%>



<h3>comments</h3>

<%= render 'comments/comments' %>  

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
</div>