<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <%= link_to 'Blogzz' , posts_path , :class => "navbar-brand" %>
  
    <ul class="navbar-nav mr-auto"></ul>

    <ul class="navbar-nav navbar-right align-items-center">
     <li>
        <%= link_to 'Home' , posts_path%>
    </li>

    <%if user_signed_in?%>
      <li>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% if current_user.avatar.attached?%>
          <img class= "nav-profile" src = "<%= (url_for(current_user.avatar))%>">
        <%end%>
      </li>
    <%else%>
      <li>
        <%= link_to "Sign Up", new_user_registration_path%>
      </li>
      <li>
        <%= link_to "Sign In", new_user_session_path%>
      </li>
    <%end%>
  </ul>
  
    
  </div>
</nav>
<div class = "row mt-4">
  <div class = "col-3">
      <%= render 'layouts/alerts'%>
  </div>
  <div class = "col-6">
      <%= yield %>
  </div>
<div>



  </body>
</html>
